.perguntas {
  max-width: 800px;
  margin: 50px 0;
}

.acordion {
  margin-top: 5px;
  border-radius: 6px;
}

.acordion span {
  color: var(--primary-color);
  transform: rotate(45deg);
}

.acordion-text {
  padding: 20px;
}

.perguntas h2 {
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  text-indent: 2rem;
  position: relative;
}

.perguntas h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 22px;
  left: 20px;
}

.perguntas h2::after {
  content: "↓";
  color: var(--primary-color);
  transform: rotate(180deg);
}

.perguntas h2.show::after {
  content: "↑";
  color: var(--primary-color);
  transform: rotate(180deg);
}

.perguntas p {
  line-height: 1.25rem;
  text-indent: 2rem;
}

.acordion-text.show {
  display: block;
  animation: show-acordion 0.5s forwards;
}

.acordion-text {
  display: none;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1440px) {
  .perguntas {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .perguntas {
    margin: 20px auto;
    padding: 0;
  }
  .perguntas h2 {
    font-size: 1.25rem;
  }
  .perguntas h2::before {
    top: 16px;
  }
}

@keyframes show-acordion {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
