.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-color h3 {
  margin-bottom: 20px;
}

.footer-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-lista a:hover {
  text-decoration: underline;
}

.footer-site-redes {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contato-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.redes-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  justify-content: end;
}

.img-redes {
  max-width: 30px;
}

.footer-color {
  background-image: linear-gradient(to right, #fbc1bf 50%, #c7eae4 50%);
}

.aside-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.aside-redes-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
