.container-header {
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
}

.logomarca {
  width: 200px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-flex {
  display: flex;
  gap: 20px;
}

.menu-flex li a {
  display: inline-block;
  padding: 10px 0;
  position: relative;
}

.menu-flex li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--primary-color);
  margin-top: 2px;
  transition: 0.4s;
  position: absolute;
}

.menu-flex li a:hover::after {
  width: 100%;
}

.img-capa {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.titulo-principal {
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.titulo-principal::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: var(--primary-color);
  bottom: 30px;
}
@media (max-width: 1440px) {
  .container-header {
    padding: 0 10px;
  }
}

@media (max-width: 1000px) {
  .img-capa {
    height: 300px;
  }
  .titulo-principal {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  .img-capa {
    height: 200px;
  }
  .logomarca {
    width: 150px;
  }
  .titulo-principal {
    font-size: 2rem;
    padding: 20px 0;
  }
  .titulo-principal::before {
    width: 100px;
    height: 5px;
    bottom: 10px;
  }
}
